<div id="add_cart" class="add_cart mfp-hide">
    <div class="modal-content">
        <div class="modal-header">
            <a href="javascript:void(0)" class="close popup-modal-dismiss" data-dismiss="modal" aria-label="Close"><i class="zmdi zmdi-close"></i></a>
        </div>
        <div class="modal-body">
            <div class="card-box text-center">
                <div  class="d-block cart-img "> <img src="{{ 'add-to-cart.png' | asset_url }}" alt=""></div>
                <h4> Your product is added to cart</h4>
            </div>
        </div>
    </div>
</div>