<!-- /.inner-banner start  -->
<section class="inner-banner contact-banner">
    <div class="container inner-banner-content-box  contact-banner-content-box" {% if section.settings.image %} style="background-image: url('{{ section.settings.image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};"{% endif %}>
        <div class="inner-container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>{{ page.title }}</h1>
                    {% if page.content.size > 0 %}
                        <div class="pt-2 mb-2 white-text">
                            {{ page.content }}
                        </div>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>
</section>
<!-- /.inner-banner end  -->

{% schema %}
    {
    "name": "Banner Style 2",
    "settings": [
    {
    "type": "image_picker",
    "id": "image",
    "label": "Banner Image"
    },
    {
    "type": "select",
    "id": "alignment",
    "label": "Image alignment",
    "default": "center",
    "options": [
    {
    "value": "top",
    "label": "Top"
    },
    {
    "value": "center",
    "label": "Middle"
    },
    {
    "value": "bottom",
    "label": "Bottom"
    }
    ]
    }
    ]
    }
{% endschema %}